/* semantic color variables for this project */
:root {
  --color-white: #e5e7eb;

  --color-blue-light: hsl(197, 100%, 42%);
  --color-blue: hsl(197, 100%, 32%);
  --color-blue-dark: hsl(197, 100%, 22%);

  --color-persian-orange-light: hsl(28, 71%, 67%);
  --color-persian-orange: hsl(28, 71%, 57%);
  --color-persian-orange-dark: hsl(28, 71%, 47%);
  --color-persian-orange-darker: hsl(28, 71%, 37%);

  --color-orange-light: hsl(6, 92%, 77%);
  --color-orange: hsl(6, 92%, 67%);
  --color-orange-dark: hsl(6, 92%, 57%);

  --color-green-light: hsl(164, 100%, 40%);
  --color-green: hsl(164, 100%, 30%);
  --color-green-dark: hsl(164, 100%, 20%);
  --color-green-darker: hsl(164, 100%, 10%);

  --color-yellow-light: hsl(43, 95%, 73%);
  --color-yellow: hsl(43, 95%, 63%);
  --color-yellow-dark: hsl(43, 95%, 53%);
}

html, body { height: 100%;}