/* Todo : install scss and correctly import and compile css files */

.note-root,
.note-chord-root,
.note-scale-root {
     background: var(--color-blue);
 }

.note-chord-third {
     background: var(--color-persian-orange);
 }

.note-chord-fifth {
     background: var(--color-orange);
 }

.note-chord-seventh {
     background: var(--color-green);
 }

.note-scale-third,
.note-scale-fifth,
.note-scale-seventh {
     background: var(--color-persian-orange);
 }

.note-scale-second,
.note-scale-fourth,
.note-scale-sixth {
     background: var(--color-persian-orange-darker);
 }

.note-octave {
     font-size: 0.75rem;
 }

.fretboard-note-selected {
    background: hsl(var(--pf));
}

.note-error {
    background: hsl(var(--er));
}

.note-success {
    background: hsl(var(--su));
}