/* semantic color variables for this project */
:root {
  --color-white: #ffffff;
  --color-white-base-content: #d8dbe2;
  --color-black: #000000;

  --color-blue-100: hsl(223, 84%, 95%);
  --color-blue-200: hsl(221, 84%, 85%);
  --color-blue-300: hsl(221, 83%, 75%);
  --color-blue-400: hsl(221, 83%, 65%);
  --color-blue-500: hsl(221, 83%, 55%);
  --color-blue-600: hsl(221, 83%, 45%);
  --color-blue-700: hsl(221, 83%, 35%);
  --color-blue-800: hsl(221, 83%, 25%);
  --color-blue-900: hsl(221, 84%, 15%);

  --color-blue-light: var(--color-blue-300);
  --color-blue: var(--color-blue-500);
  --color-blue-dark: var(--color-blue-700);

  --color-orange-100: hsl(25, 92%, 95%);
  --color-orange-200: hsl(25, 95%, 85%);
  --color-orange-300: hsl(24, 95%, 75%);
  --color-orange-400: hsl(24, 96%, 65%);
  --color-orange-500: hsl(25, 95%, 55%);
  --color-orange-600: hsl(24, 95%, 45%);
  --color-orange-700: hsl(25, 96%, 35%);
  --color-orange-800: hsl(25, 95%, 25%);
  --color-orange-900: hsl(25, 95%, 15%);

  --color-orange-light: var(--color-orange-300);
  --color-orange: var(--color-orange-500);
  --color-orange-dark: var(--color-orange-700);

  --color-red-100: hsl(345, 77%, 95%);
  --color-red-200: hsl(347, 77%, 85%);
  --color-red-300: hsl(347, 77%, 75%);
  --color-red-400: hsl(347, 78%, 65%);
  --color-red-500: hsl(347, 77%, 55%);
  --color-red-600: hsl(347, 77%, 45%);
  --color-red-700: hsl(347, 78%, 35%);
  --color-red-800: hsl(347, 77%, 25%);
  --color-red-900: hsl(347, 77%, 15%);

  --color-red-light: var(--color-red-300);
  --color-red: var(--color-red-500);
  --color-red-dark: var(--color-red-700);

  --color-green-100: hsl(142, 76%, 95%);
  --color-green-200: hsl(142, 76%, 85%);
  --color-green-300: hsl(142, 76%, 75%);
  --color-green-400: hsl(142, 76%, 65%);
  --color-green-500: hsl(142, 76%, 55%);
  --color-green-600: hsl(142, 76%, 45%);
  --color-green-700: hsl(142, 76%, 35%);
  --color-green-800: hsl(142, 76%, 25%);
  --color-green-900: hsl(143, 76%, 15%);

  --color-green-light: var(--color-green-500);
  --color-green: var(--color-green-700);
  --color-green-dark: var(--color-green-900);

  --color-yellow-100: hsl(42, 92%, 95%);
  --color-yellow-200: hsl(43, 95%, 85%);
  --color-yellow-300: hsl(43, 95%, 75%);
  --color-yellow-400: hsl(43, 96%, 65%);
  --color-yellow-500: hsl(43, 95%, 55%);
  --color-yellow-600: hsl(43, 95%, 45%);
  --color-yellow-700: hsl(43, 96%, 35%);
  --color-yellow-800: hsl(43, 95%, 25%);
  --color-yellow-900: hsl(43, 95%, 15%);

  --color-yellow-light: var(--color-yellow-300);
  --color-yellow: var(--color-yellow-500);
  --color-yellow-dark: var(--color-yellow-700);
}

html, body { height: 100%;}

.header-logo path {
  fill: oklch(var(--bc));
}

footer .footer-logo path {
  fill: oklch(var(--pc));
}

.main-content {
  display: grid;
  grid-template-rows: min-content 1fr;
}